:root {
    --primary-color: #2d033b;
    --secondary-color: #810ca8;
    --tertiary-color: #c147e9;
    --accent-color: #e5b8f4;
    --dark-grey: #604b67;
    --light-grey: #e4dde6;
    --true-grey: #d4d4d4;
    --black: #333333;
    --background-white: "";
    --background-pink: #f3edf7;
    --true-white: #ffffff;
    --published-green: #9ae6b4;
    --draft-red: #fc8181;
    --scheduled-yellow: #fbd38d;
    --transparent: #00000000;
    --font-family: "sans-serif";
}
