.buttonStyle.transparent {
    background-color: var(--transparent); /* Use CSS variable */
    color: var(--true-white); /* Use CSS variable */
    width: fit-content;
    border-radius: 5px;
    border: 2px solid var(--true-white); /* Use CSS variable */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.5vw;
}

.buttonStyle.transparent:active {
    background-color: var(--true-white);
    color: var(--true-white);
    border-color: var(--true-white);
}

.buttonStyle.mediumSmall {
    background-color: var(--primary-color); /* Use CSS variable */
    color: var(--true-white); /* Use CSS variable */
    width: fit-content;
    height: 42px;
    border-radius: 5px;
    border-color: var(--primary-color); /* Use CSS variable */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 18.75px;
    font-size: 16px;
}
